body {
    background: #000 url('./bilder/The_Earth_seen_from_Apollo_17.jpg') no-repeat -700px -150px;
    background-size: 1000px 1000px;
}
h1 {
    font: bold 140px sans-serif;
    color: #FFF;
    width: 500px;
    background: linear-gradient(to right, #5fe4ff, #fb00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px 0px rgb(247, 116, 229);
    margin: 20px;

}