@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

.modak {
    font-family: "Modak", serif;
    font-weight: 400;
    font-style: normal;
}
  
/* Sidlayout */
body{}

.container{}

/* Sidhuvud */
.header{

}
.header .menu{

}
.header .menu a {

}
.header .offers{

}

/* Sidinnehåll */
.content {}
.content h2 {}
.content .col-3 {}
.content .col-3 .burger {}
.content .col-3 .burger img {}
.content .col-3 .burger p {}




/* bg-färg #FBF7F1
burger bg-färg #F5EBDC
text-färg #502314
knappfärg #CC2200
typsnitt 

*/