@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}

/* Sidan */
body {
    background-image: url(./djungle.jpg);
}
.kontainer {
}

/* Bygga layouten */
/* För mobil < 576px  */
@media (min-width: 576px) {
    .kontainer {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
        "sidhuvud "
        "artiklarna"
        "sidebar"
        "sidfot ";
        gap: 20px;
    }
}
/* För läsplatta < 768px  */
@media (min-width: 768px) {
    .kontainer {
        width: 100%;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
        "sidhuvud sidhuvud"
        "artiklarna sidebar"
        "sidfot sidfot";
        gap: 20px;
    }
}
/* För desktop >= 1200px */
@media (min-width: 1200px) {
    .kontainer {
        width: 1200px;
        margin: auto;
        padding: 20px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
        "sidhuvud sidhuvud"
        "artiklarna sidebar"
        "sidfot sidfot";
        gap: 20px;
    }
}

header {
    grid-area: sidhuvud;
}
main {
    grid-area: artiklarna;
    background-color: #FFF;
    border-radius: 10px;
    padding: 20px;
}
aside {
    grid-area: sidebar;
    background-color: #FFF;
    border-radius: 10px;
    padding: 20px;
}
footer {
    grid-area: sidfot;
    background-color: #FFF;
    border-radius: 10px;
    padding: 20px;
}

/* Sidhuvud */
header {
    color: #FFF;
    font-family: "Rubik Moonrocks", serif;
}
header h1 {
    font-size: 80px;
}
header h2 {}

/* Menyn */
header nav {
    background: rgb(142,199,1);
    background: linear-gradient(0deg, rgba(142,199,1,1) 0%, rgba(44,129,14,1) 42%, rgba(11,106,18,1) 60%, rgba(112,201,0,1) 100%);
    padding: 20px 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}
header nav a {
    color: #FFF;
    text-decoration: none;
    padding: 20px 10px;
}
header nav a.aktiv {
    background: rgb(128,180,1);
    background: linear-gradient(0deg, rgba(128,180,1,1) 0%, rgba(116,207,84,1) 42%, rgba(92,204,100,1) 60%, rgba(97,173,1,1) 100%);
} 
header nav a:hover {
    background: rgb(128,180,1);
    background: linear-gradient(0deg, rgba(128,180,1,1) 0%, rgba(116,207,84,1) 42%, rgba(92,204,100,1) 60%, rgba(97,173,1,1) 100%);
}

/* Sidans innehåll - artiklar, text mm */
main {}
main article {}
main article h3 {}
main article figure {
    width: 50%;
    margin: auto;
    padding: 30px;
    border: 1px solid #AAA;
    margin-bottom: 20px;
}
main article figure img {}
main article figure figcaption {}
main article p {}

/* Sidobar */
aside {}
aside h4 {}
aside p {}

/* Sidfoten */
footer {}
footer p {}