body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.card {
    padding: 20px;   
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 600px;
    background-color: #0000004f;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    color: aqua;
    backdrop-filter: blur(10px);
    box-shadow: 12px 10px 1px rgba(0, 0, 0, 0.5);
}

.name {
    background: linear-gradient(to right, #ff00cc, #3333ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h2 {
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 20px;
}
h3 {
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 20px;
}

.pfp {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 20px;
}
td, th {
    border: 2px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}